:root {
  --azul_padrao: #01143f;
  --amarelo_padrao: #FFC60B;
  --cinza_claro: #D7D7D7;
  --cinza_escuro: #a7a7a7;

}

body {
  position: relative;
  /* background-image: url(../imagens/background.png); */
  background-position: top, center;

  text-align: center;

  font-family: sans-serif;
  background-color: var(--azul_padrao);
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;


  background-color: var(--azul_padrao);
  border-radius: 0 0 10px 10px;

  margin-bottom: 50px;

  box-shadow: 2px 2px 20px 4px #000000;
}

header img {
  width: 100px;
  /* mix-blend-mode: normal; */
}

header h1 {
  /* position: absolute; */
  font-size: 42px;
}

main {

  max-width: 1024px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: auto;
}

.texto {
  margin-bottom: 25px;
}

.chamada {
  font-size: 25px;
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 10px;
}

.input_numero {
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;

  outline: none;
  border: 2px solid var(--azul_padrao);

  appearance: none;

}

.input_numero:hover {
  border: 2px solid #4D99FF;
}

.input_numero:focus {

  border: 2px solid var(--amarelo_padrao);
}

/* ----- Tira arrow do input ----- */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* ------------------------------- */
.btn {
  cursor: pointer;
  width: 120px ;
  padding: 15px 0;
  font-size: 20px;
  font-weight: bold;
  color:#f3f3f3;

  border-radius: 8px;
  border: none;
}


.btnCompra {
  background-color: rgb(255, 255, 255);
  width: auto;
  padding: 15px 15px;
  color:#000000;
  
  
  border: 2px solid var(--azul_padrao);
  border-radius: 10px;
}

.btnCompra:hover {
  cursor: pointer;
  border: 2px solid #4D99FF;
}

.btnCompra:active {
  transform: scale(95%);
  border: 2px solid var(--amarelo_padrao);
}

.btnCompra:disabled {
  cursor: not-allowed;
  transform: unset;
  color:var(--cinza_claro);
  border: 2px solid var(--cinza_claro);
  border-radius: 10px;
}

.btnReset {
background-color: rgb(255, 255, 255);
width: auto;
padding: 15px 15px;
color: #000000;

border: 2px solid var(--azul_padrao);
border-radius: 10px;}

.btnReset:hover{
  cursor: pointer;
  border: 2px solid #ff0000;
}

.btnReset:active {
  transform: scale(95%);
  border: 2px solid #ff0000;
}

.erro {
  visibility: hidden;

  color: #ff0000;
  font-size: 16px;
  font-weight: bold;

  transform: translateX(-16.5%);
}

.numeros {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 25px;

  background-color: var(--amarelo_padrao);
  padding: 24px 24px 40px 24px;
  border-radius: 20px 20px 0 0;
}

.numero {
  padding: 20px 0;

  flex: 1 1 calc(10% - 10px);

  background-color: var(--azul_padrao);
  border: solid 2px var(--azul_padrao);
}

.comprado {
  color: var(--cinza_escuro);
  background-color: unset;
  border: unset;
}

.modal {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.modal_fundo {

  width: 100%;
  height: 100%;

  background-color: var(--azul_padrao);
  opacity: 70%;
}

.modal_centro{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  font-size: 25px;
  font-weight: bold;
  color: #000000;


  padding: 50px 50px ;
  background-color: #f3f3f3;

  border-radius: 10px;
}

.modal_centro p {
  margin-bottom: 40px;
}

.btn_modal_cancelar{
  color: #000000;
  background-color: var(--cinza_escuro);
}

.btn_modal_confirmar {
  margin-left: 20px;
  background-color: #d80000;

}